<%
@master_symbol = :projects_member_select_dialog
-%>
<div id="<%= @master_symbol %>" class="dialog">
<div class='x-window-header'><%= image_tag("/images/etc/dlg_title_pru_select.gif") %></div>
<div class='x-window-body'>

  <div class="dlg_maincontent" style="width: 416px;height: 160px;">
    <div id="<%= @master_symbol %>_grid_panel" class="fill">
      <div id="<%= @master_symbol %>_grid" class="fill"></div>
    </div>
  </div>
  <div class="dlg_bottom" style="text-align:right;margin-top: 10px;">
    <%= icon_link_tag '/images/btn/close.gif', '#', {:id=>@master_symbol.to_s+'_close', :alt => app_localized_message(:label, :btn_close)} %>
    <%= icon_link_tag '/images/btn/save.gif', '#', {:id=>@master_symbol.to_s+'_save', :alt => app_localized_message(:label, :btn_save)} %>
  </div>

</div><!--// endof x-window-body //-->
</div><!--// endof dlg //-->